---
import { site } from '../config/site';

const { homeHref = '/' } = Astro.props;
---

<div class="masthead">
  <a class="masthead-link" href={homeHref}>
    <span class="masthead-title">{site.name}</span>
  </a>
</div>

<style>
  .masthead {
    text-align: center;
    padding: 0.65rem 0 0.5rem;
    border-bottom: none;
  }

  .masthead-link {
    color: inherit;
    text-decoration: none;
  }

  .masthead-link:hover .masthead-title {
    color: var(--accent);
  }
</style>
