---
const url = Astro.url.href;
const encoded = encodeURIComponent(url);
---

<div class="fm-share">
  <span>Share</span>
  <a href={url}>Link</a>
  <a href={`https://twitter.com/intent/tweet?url=${encoded}`} rel="noopener noreferrer">X</a>
  <a href={`https://www.linkedin.com/sharing/share-offsite/?url=${encoded}`} rel="noopener noreferrer">LinkedIn</a>
  <a href={`mailto:?body=${encoded}`}>Email</a>
</div>
